body{
	background: #fff;
}

article{
	background-color: #000;
}

.soap{
	width: 90%;
	margin: 2% auto;
	overflow: auto;
}

.soap img{
	position: relative;
	float: left;
	margin-top:2%;
	margin-right: 5%;
}

.soap p{
	text-align: justify;
	padding: 0 3%;
	padding-right: 5%;
	font-size: 1.2vw;
}

.price{
	font-size:1.5vw;
}

label[for^=quantity]{
	font-size: 1.5vw;
	position: relative;
}

input[type="submit"]{
	position: relative;
	font-size: 1.3vw;
	left: 18%;
	padding: 5px 25px;
	background-color: #337ab7;
	color: white;
	border-color: #2e6da4;
	border-radius: 4px;
	border: 1px solid transparent;
}

footer
{
	margin-top: 5%;
	background-color:#252525;
	color: white;
}