*{
	font-family: Quicksand;
}
.carousel .carousel-inner{
					height:400px;
}
.bg
{
	margin-top:70px;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
html, body
{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0px;
}

.error {
	width: 92%; 
	margin: 0 auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}

.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 40px;
}



.body_container
{
	position: relative;
	z-index: 1;
}

.line1
{
	
	border: 1px solid black;
}

.line2
{
	border: 1px solid black;
}

.sec{
    height: 100%;
    padding: 14%;
}

.body_container
{
	position: relative;
}

.body_container h2
{
	text-align: center;
}

.body_container h3
{
	text-align: center;
}

.body_container h4
{
	text-align: center;
}

.container
{
	text-align: center;
}

#firstcol
{
	margin-top: 20px;
}
.item
{
	padding: 20px;
	border: 1px solid black;
}

#secondcol
{
	margin-top: 30px;
}



/* YT edited 
#about{
	top: 2vw;
}

.subscribe{
	margin-top: 1%;
}

input[type="text"]{
	width: 75%;
	height: 5%;
	margin-bottom: 5px;
	position: relative;
}

#submit-footer{
	position: relative;
	float: right;
	bottom: 6vh;
	width: 22%;
	height: 5%;
	text-align: center;
	padding: 0 auto;
}


h5{
	padding-top: 20px;	
}

.slide_container{
	margin-bottom: 37%;
}
YT edit ends */
footer
{
	margin-top: 5%;
	background-color:#252525;
	color: white;
}

