/*h1{
	padding:10px;
	text-align:center;
}

div{
	
	width:500px;
	border:2px solid green;
	padding:25px;
	margin: 0px auto;
	text-align;center;
}

.nameline {
	background-color: transparent;

    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
}
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.box img
{
	margin-top:30px;
	overflow:hidden; 
	float:right;
	position:relative;
}

.Aacount
{
	margin-left:140px;
}

#buyer
{
	margin-bottom:20px;
	
}*/

body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: black;
}

*{
	box-sizing: border-box;
}

.container{
	margin-top: 1%;
	padding: 16px;
	background-color: white;
}


.container input[type=text], input[type=register], input[type=email], input[type=password]{
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

.container input[type=text]:focus, input[type=register]:focus, input[type=email]:focus
{
	background-color: #ddd;
	outline: none;
}

hr
{
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

.registerbtn
{
	background-color: green;
	color: white;
	padding: 16px 20px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	width: 40%;
}

.registerbtn:hover
{
	opacity:1;
}

.resetbtn
{
	background-color: green;
	color: white;
	padding: 16px 20px;
	
	border: none;
	cursor: pointer;
	opacity: 0.8;
	width: 40%;
}

.resetbtn:hover
{
	opacity:1;
}

footer
{
	margin-top: 5%;
	background-color:#252525;
	color: white;
}